<mat-tab-group>
  <mat-tab label="Recientes">
    <div class="divider">
      <app-question-form></app-question-form>
    </div>
    <mat-divider class="divider-prin"></mat-divider>
    <div class="divider">
      <app-question-list sort='-createdAt'></app-question-list>
    </div>
  </mat-tab>
  <mat-tab label="Hot">
    <app-question-list sort='-answers'></app-question-list>
  </mat-tab>
</mat-tab-group>
<button [routerLink]="['questions/new']" mat-fab class="add-question" color="accent">
  <mat-icon>add</mat-icon>
</button>
